.navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    
    justify-content: space-between;
    font-size: 30px;
}
.navigation .logo{
    flex: auto;  
   
}

.navigation .links{
    flex: auto; 
    display: flex;
    justify-content: end;
}

.links *{
    margin-left: 5%;
    margin-right: 5%;
}

.logo *{
    margin-left: 5%;
    margin-right: 5%;
}


body {
   font-family: 'Chakra Petch', sans-serif;
  }

.title {
    text-align: center;
}
.title h1{
    font-size: 300px;
    margin-top: 5%;
    margin-bottom: 0;
}
.title h2{
    font-size: 70px;
    margin: 0 auto;
}