/* main */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
    overflow-x: hidden;
    
}

* {
    box-sizing: border-box;
    cursor: default;
}

/* headers ans text */

h2 {
    font-size: 50px;

    color: rgb(255, 255, 255);
}

.title h1 {
    font-size: 2000%;
    margin-top: 5%;
    margin-bottom: 0;

    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(166, 255, 131), rgb(0, 255, 255));
}

.title h2 {
    font-size: 70px;
    margin: 0 auto;
}

h4 {
    margin: 0;
    font-size: 40px;
}

p {
    font-size: 20px;
    color: rgb(213, 197, 255);
}


/* section nav */


.navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    font-size: 200%;
    padding: 10px 0 10px 0;
    background-color: black;
}

.navigation .logo {
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.logopic {
    transition: 1s;
}


.navigation .logo img {
    margin-left: 5%;
    margin-right: 5%;
}


.navigation .links {
    flex: auto;
    display: flex;
    justify-content: end;
}

.links * {
    margin-left: 5%;
    margin-right: 5%;
}

.navigation a {
    text-decoration: none;
    color: white;
}


/* section title */

.main_container {
    background-color: rgb(21, 0, 46);
    
    margin: 0;
    padding-bottom: 40px;
}

.title {
    text-align: center;
    /* width: 100vw;
    height: 100vh; */
    padding-top: 10%;
    padding-bottom: 10%;

    background-image: linear-gradient(to top, rgb(61, 0, 117), rgb(0, 0, 0));
}

.desc {
    color: white;
}

/* section first */

.first {
    display: flex;
    flex-direction: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(117, 24, 223), rgb(58, 56, 190));
}

.firstquestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.questpart1,
.questpart2 {
    font-size: 70px;
    margin: 0 auto;
}

.questpart1 {
    color: white;
}

.questpart2 {
    color: rgb(66, 255, 220);
}

.first .textabout {
    flex: auto;
    text-align: center;
    padding: 5%;
    line-height: 300%;
}

.first .pic1 {
    flex: auto;
    padding: 5%;
    
}

.animation {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 2px -2px 40px 0 rgba(34, 30, 44, 0.3),
        -2px -2px 40px 0 rgba(34, 30, 44, 0.3),
        2px 2px 40px 0 rgba(34, 30, 44, 0.3),
        -2px 2px 40px 0 rgba(34, 30, 44, 0.3);
}


/* section second */

.second {
    display: flex;
    flex-direction: row;
     background-color:  rgb(40, 15, 68);
}

.second .advantages {
    flex: auto;
    text-align: center;
    padding: 5%;
    line-height: 300%;
}

.second .pic2 {
    flex: auto;
    padding: 5%;
}

.advantages ul {
    display: flex;
    list-style: none;

    color: rgb(194, 157, 255);
}

.advantages li {
    flex:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
    /* box-shadow: 2px -2px 10px 0 rgba(127, 91, 255, 0.616),
        -2px -2px 10px 0 rgba(127, 91, 255, 0.616),
        2px 2px 10px 0 rgba(127, 91, 255, 0.616),
        -2px 2px 10px 0 rgba(127, 91, 255, 0.616); */

    border: 2px solid rgb(103, 255, 209);

    font-size: 20px;

    width: 200px;
    height: 220px;

    transition: 1s all linear;

    background-color: rgb(27, 9, 48);
}

.advantages li h3 {
    margin-top: 0;
}

.advantages img {
    flex: auto;
    margin: 20px;
}


/* section third (buy) */

.buy_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr; */

    gap: 0px 50px;

    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 0;
}

.buy_cards ul {
    padding: 0;
    list-style: none;
    font-size: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 300%;
}


#buy1 {
    grid-area: 1 / 1 / 2 / 2;
    display: inline-block;
}

#buy2 {
    grid-area: 1 / 2 / 2 / 3;
}

#buy3 {
    grid-area: 1 / 3 / 2 / 4;
}

*[id^='buy'] {
    padding: 0;

    border-radius: 20px;
    color: white;
    background-color: rgb(0, 0, 0);
}

.lastquestion {
    margin-top: 40px;
}

.colorname {
    color: rgb(0, 255, 170);
}

.buy {
    text-align: center;
    background-color: rgb(21, 0, 46);

}

.buy_cards *[class^='button'] {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 70px;

    margin: 20px;
    padding: 0%;

    border-radius: 75px;

    transition:  background-position 0.8s;
}



.button1 {
    background: linear-gradient(to left, #757F9A, #9796b4, #757F9A);
    background-size: 200%;
}

.button2 {
    background: linear-gradient(to left, rgb(128, 255, 134), rgb(46, 209, 141), rgb(128, 255, 134));
    background-size: 200%;
}

.button3 {
    background: linear-gradient(to left, rgb(162, 83, 236), rgb(71, 113, 228), rgb(162, 83, 236));
    background-size: 200%;
}

.button_action * {
    background: none;
    border: 0;

}

.button a {

    flex: auto;

    font-size: medium;
    text-align: center;
}

*[class^='gradient'] {
    width: 85%;
    height: 5px;
    border-radius: 50px;
    border-style: none;
}

.gradient1 {
    background-color: rgb(124, 124, 124);
}

.gradient2 {
    background-color: rgb(129, 255, 156);
}

.gradient3 {
    background-color: rgb(184, 129, 255);
}

/* elemets animations */

.button1:hover,
.button2:hover,
.button3:hover {
    /* box-shadow: inset 120px 0px 124px -36px rgba(36, 179, 179); */
    /* background-color: rgb(36,179,179); */
    
    background-position: right;
    border: 3px solid white;
    color: #fff;
}

.logopic:hover {
  transform: scaleX(-1);
}
